<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="br.com.usuarios">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.DadosUsuarioActivity"/>
        <activity android:name=".activitys.MenuActivity"/>
        <activity android:name=".activitys.UsuarioListActivitity"/>
        <activity android:name=".activitys.UsuarioListParamActivitity"/>

    </application>

</manifest>
